html,
body {
    height: 100%;
}

body {
    background-image: url("images/Background.jpeg");
    background-size: cover;
}

.form-login {
    /* background-color: rgba(236, 240, 241, .35); */
    background-color: lightsteelblue;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    max-width: 450px;
    width: 100%;
}

.btn-primary {
    background: green;
    border: 0;
}

.btn-primary:hover {
    background: green;
}