/* Breakpoints of Bootstrap
x small                             < 576px
small                 sm           >= 576px
Medium                md           >= 768px
Large                 lg           >= 992px
Extra Large           xl           >= 1200px
Extra Extra Large     xxl          >= 1400px
*/

/* Breakpoints of Bootstrap
x small                             < 100%
small                 sm           >= 540px
Medium                md           >= 720px
Large                 lg           >= 960px
Extra Large           xl           >= 1140px
Extra Extra Large     xxl          >= 1320px
*/

div {
    background-color: var(--bs-yellow);
    height: 100px;
    margin-bottom: 20px;
}